$black: rgb( 0 0 0 );
$red: rgb( 255 0 0 );
$white: rgb( 255 255 255 );

.bg- {
    &black { background-color: $black; }
    &red { background-color: $red; }
    &white { background-color: $white; }
}

.text- {
    &black { color: $black; }
    &red { color: $red; }
    &white { color: $white; }
}